<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ckblt的博客</title>

    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>

    <link rel="stylesheet" href="/static/css/base.css" />
    <link rel="stylesheet" href="/static/css/home.css" />

    <script src="/static/js/base.js"></script>
  </head>

  <body>
    <div id="nav"></div>

    <div id="main">
      <div class="welcome">
        <div class="img"><img src="/static/img/avatar.jpg" alt="Avatar" /></div>
        <div class="text">
          <h1>欢迎来到Ckblt的博客!</h1>
          <p>大家好，我叫朱嘉威，今年10岁了，上四年级。</p>
          <a href="{{ bilibili }}">我的bilibili</a>
          <a href="{{ github }}">我的github</a>
        </div>
      </div>
      <div id="blogs">
        {% for blog in blogs %}
        <a href="/blog/{{ blog.id }}" class="blog">
          <div class="col">
            <img src="{{ blog.img }}" alt="Img" />
          </div>
          <div>
            <div class="col">
              <h1>{{ blog.title }}</h1>
              <h6>#{{ blog.id }}</h6>
            </div>
            <div class="col">
              <p>
                于 {{ blog.date.getFullYear() }}/{{ blog.date.getMonth() + 1
                }}/{{ blog.date.getDate() }} 发布
              </p>
            </div>
            <div class="col">
              <p>{{ blog.content.slice(0, 60) }} ...</p>
            </div>
            <div class="col type">
              {% for type in blog.type %}
              <strong>{{ type }}</strong>
              {% endfor %}
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
    <div id="ftr"></div>
  </body>
</html>
