@import url("/static/font/SourceHanSansCN.css");

* {
  margin: 0;
  padding: 0;

  outline: 0;
}

body {
  background-image: linear-gradient(#e66465, #9198e5);

  padding-top: 80px;

  min-height: calc(100vh - 80px);

  font-family: SourceHanSansCN;
}

#nav ul {
  display: flex;

  justify-content: center;
  align-items: center;

  position: fixed;
  width: 100vw;

  top: 0;
  left: 0;
  right: 0;

  background-color: #fc0;
}
#nav li {
  list-style: none;
}
#nav a {
  display: flex;

  justify-content: center;
  align-items: center;

  padding: 0 30px;

  height: 70px;

  color: #000;
  text-decoration: none;
}
#nav a:hover {
  background-color: #da0;
}

#ftr {
  display: flex;

  justify-content: center;
  align-items: center;

  background-color: rgba(51, 51, 51, 0.533);
  background-color: #3338;
  color: rgba(238, 238, 238, 0.867);
  color: #eeed;

  width: 100%;

  height: 100px;
}

#main {
  margin: 0 10vw 0 10vw;
}

.col {
  display: flex;
}

@media screen and (min-width: 500px) and (max-width: 750px) {
  #main {
    margin: 0 15vw 0 15vw;
  }
}
@media screen and (min-width: 750px) and (max-width: 1000px) {
  #main {
    margin: 0 15vw 0 15vw;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1250px) {
  #main {
    margin: 0 20vw 0 20vw;
  }
}
@media screen and (min-width: 1250px) {
  #main {
    margin: 0 25vw 0 25vw;
  }
}

/* 404 Not Found */

.not-found {
  display: flex;

  justify-content: center;
  align-items: center;

  flex-direction: column;

  position: absolute;

  top: 50%;
  left: 0;

  width: 100%;

  transform: translateY(-50%);
}

.not-found h1,
.not-found h2 {
  display: flex;

  justify-content: center;
  align-items: center;

  color: rgba(238, 238, 238, 0.867);
  color: #eeed;
}

.not-found .img {
  width: 20vw;
}
