.blog {
  display: flex;

  color: #000;

  text-decoration: none;

  flex-wrap: wrap;
  flex-direction: column;

  margin: 10px 0 10px 0;

  border-radius: 20px;
  padding: 10px;

  background-color: #ccc8;
}
.blog img {
  min-width: none;

  border-radius: 20px;
  width: 100%;
}
.blog h1 {
  font-size: 30px;

  color: #111d;
}
.blog h6 {
  font-weight: normal;

  font-size: 13px;

  color: #555d;
}
.blog p {
  font-size: 13px;

  color: #555d;
}
.blog .type {
  display: flex;

  justify-content: flex-end;
}
.blog .type strong {
  margin: 0 1px;
  padding: 0 1px;

  border-radius: 5px;

  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .blog h1 {
    font-size: 22px;
  }
}
