.search {
  display: flex;

  width: 100%;
}
.search * {
  border: none;
}
.search input {
  padding: 10px 3px 10px 14px;

  background-color: rgba(204, 204, 204, 0.533);
  background-color: #ccc8;

  border-radius: 20px 0 0 20px;

  width: calc(100% - 100px);
}
.search input::placeholder {
  color: rgba(0, 0, 0, 0.533);
  color: #0008;
}
.search button {
  padding: 10px;

  background-color: #fc0;

  border-radius: 0 20px 20px 0;

  width: 100px;
}
.search button:hover {
  background-color: #da0;
}

.result .blog {
  display: flex;

  color: #000;

  text-decoration: none;

  flex-wrap: wrap;
  flex-direction: column;

  margin: 10px 0 10px 0;

  border-radius: 20px;
  padding: 10px;

  background-color: rgba(204, 204, 204, 0.533);
  background-color: #ccc8;
}
.result .blog img {
  min-width: none;

  border-radius: 20px;

  width: 100%;
  height: auto;
}
.result .blog h1 {
  font-size: 30px;

  color: rgba(17, 17, 17, 0.867);
  color: #111d;
}
.result .blog h6 {
  font-weight: normal;

  font-size: 13px;

  color: rgba(85, 85, 85, 0.867);
  color: #555d;
}
.result .blog p {
  font-size: 13px;

  color: rgba(85, 85, 85, 0.867);
  color: #555d;
}
.result .blog .type {
  display: flex;

  justify-content: flex-end;
}
.result .blog .type strong {
  margin: 0 1px;
  padding: 0 1px;

  border-radius: 5px;

  background-color: #fff;
}

@media screen and (max-width: 500px) {
  .result .blog h1 {
    font-size: 22px;
  }
}
