@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-ExtraLight.otf") format("OpenType");

  font-weight: 200;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-Light.otf") format("OpenType");

  font-weight: 300;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-Normal.otf") format("OpenType");

  font-weight: 400;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-Medium.otf") format("OpenType");

  font-weight: 500;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-Bold.otf") format("OpenType");

  font-weight: 700;
}
@font-face {
  font-family: SourceHanSansCN;
  src: url("/static/font/SourceHanSansCN-Heavy.otf") format("OpenType");

  font-weight: 900;
}
